*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.listsP{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
    gap: 25px;
    background-color: rgb(209, 209, 209);
}

.listsP .leftS{
    display: flex;
    background-color: rgb(206 18 19);
    color: white;
    flex-direction: column;
    width: 800px;
    height: 460px;
    margin-top: 80px;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    margin-bottom: 100px;
    
}

.leftS p{
    font-size: 50px;
    padding-bottom: 30px;
}

.leftS span{
    line-height: 25px;
    padding-bottom: 30px;
}

.leftS button{
    width: 200px;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: rgb(224 101 97);
    color: white;
    font-size: 20px;
    border-radius: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.leftS button:hover{
    background-color: white;
    color: red;
    transition: 0.6s;
    cursor: pointer;
}

.listsP .rightS{
    display: flex;
    gap: 25px;
}

.rightS .eachPart{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 280px;
    height: 400px;
    padding-top: 40px;
    background-color: white;
    transition: 0.6s;
}

.rightS .eachPart .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(250 234 235);
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-bottom: 25px;
}

.icon i{
    font-size: 40px;
    color: rgb(206 18 19);
}

.eachPart .wordsP{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    font-size: 20px;
    font-weight: 500;
}

.eachPart .wordsP span{
    font-size: 25px;
    font-weight: 500;
}

.eachPart .wordsP p{
    font-size: 20px;
    color: rgb(155 160 165);
}

.eachPart:hover{
    transform: scale(1.1);
    transition: 0.6s;
}